<html>
    <a href="#idk1">Прайс-лист</a> 
    <a href="#idk2">Отзывы</a> 
    <a href="#idk3">Фотографии</a>
    <h1>Phone Repair</h1>
    <img src="https://garants-stroy.ru/upload/iblock/e4f/e4f92b33100bd91ff86aa467d63ba201.jpg">
    <img src="https://garants-stroy.ru/upload/iblock/e4f/e4f92b33100bd91ff86aa467d63ba201.jpg">
    <img src="https://garants-stroy.ru/upload/iblock/e4f/e4f92b33100bd91ff86aa467d63ba201.jpg">
    <h2 id="#idk1">Услуги и цены</h2>
    <table>
        <tr>
            <td>Название услуги</td>
            <td>Цена</td>
            <td>Срок выполнения</td>
        </tr>
        <tr>
            <td>Замена разъема зарядки</td>
            <td>750руб</td>
            <td>1 день</td>
        </tr>
        <tr>
            <td>замена экрана</td>
            <td>от 1500 руб</td>
            <td>от 2х дней</td>
        </tr>
        <tr>
            <td>Перепрошивка</td>
            <td>от 1000 руб</td>
            <td>1 день</td>
        </tr>
    </table>
    <h2 id="idk2">Отзывы</h2>
    <p><i>Наталья: </i>Сломался разъём для зарядки в новом iPhone. Починили оперативно.</p>
    <p><i>Максим: </i>Нужно было срочно спасать телефон от вирусов.</p>
    <p><i>Юля: </i>Разбила экран планшета и сразу побежала в мастерскую на Ремонтной улице.</p>
    <h2 id="idk3">Фотографии</h2>
    <img src="https://garants-stroy.ru/upload/iblock/e4f/e4f92b33100bd91ff86aa467d63ba201.jpg">
    <img src="https://garants-stroy.ru/upload/iblock/e4f/e4f92b33100bd91ff86aa467d63ba201.jpg">
    <head>
        <link rel="stylesheet" href="2.css">
    </head>
</html>